<div class="card text-center center" style="width: 60%;margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added">
  <div class="card-header">
    Boards
  </div>
  <div class="card-body">
    <div class="form-inline">
		<p>Selecione um Board
		<select class="selectpicker" title="Selecione" onchange="location = this.value;" data-none-selected-text="please select...">
			<option>Selecione</option>
			<% @boards.each do |board|%>
				<option value="<%= show_board_path(:id => board.id)%>"><%= board.name %></option>
			<% end %>
		</select>
		</p>
	</div>
	<p> Ou </p>
	<%= link_to "Criar um Board", "#", "data-toggle" => "modal", 'data-target' => '#exampleModal'  %>
	<%= render 'board/modal'%>
	</div>
	<div class="card-footer text-muted">
	<p><%= flash[:notice] %></p>
	<% if @board.errors.any? %>
	  <div id="error_explanation">
	   <div class="alert alert-error">
	     The form contains <%= pluralize(@board.errors.count, "error") %>.
	   </div>
	  <ul>
	   <% @board.errors.full_messages.each do |msg| %>
	    <li>* <%= msg %></li>
	   <% end %>
	 </ul>
	</div>
	<% end %>
	</div>
</div>
